body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}
p {
    margin-bottom: 20px;
    text-align: center;
}
.star-container {
    text-align: center; /* Center stars horizontally */
}
.star {
    color: gold;
    font-size: 24px;
}
img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#numberInput {
    text-align: center;
    width: 100px;
    margin: 0 auto; /* Center the input horizontally */
    display: block; /* Ensure the input takes full width */
}